# BLE (Bluedroid)
CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_GATTC_ENABLE=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y

# WiFi + BLE coexistence
CONFIG_ESP_COEX_SW_COEXIST_ENABLE=y

# Logs
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# HTTP server
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024

# Flash size (ESP32-C3 имеет 4MB)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
